rootdir =  u'/Users/jdeyke/nc'

ncarScale = {
  'DBZ': { 'min': -32, 'max': 96, 'colortable': 0},
  'VR': { 'min': -27, 'max': 27, 'dataWordCoding': 16, 'colortable': 1},
  'VE': { 'min': -27, 'max': 27, 'dataWordCoding': 16, 'colortable': 1},
  'SW': { 'min': 0, 'max': 15, 'colortable': 2},
  'NCP':  { 'min': 0, 'max': 1, 'colortable': 3},
  'ZDR':  { 'min': -2, 'max': 8, 'colortable': 4},
  'LDR':  { 'min': -48, 'max': 0, 'colortable': 5},
  'PPHIDP':  { 'min': -180, 'max': 180, 'colortable': 6},
  'RHOHV':  { 'min': .6, 'max': 1.1, 'colortable': 7},
}

casaScale = {
  'Reflectivity': { 'fieldName': 'dBZ', 'min': -30, 'max': 80, 'colortable': 0},
  'Velocity': { 'fieldName': 'Vel', 'min': -55, 'max': 55, 'dataWordCoding': 16, 'colortable': 1},
  'SpectralWidth': { 'fieldName': 'Wid', 'min': 0, 'max': 8, 'colortable': 2},
  'NormalizedCoherentPower': { 'fieldName': 'NCP', 'min': 0, 'max': 1, 'colortable': 3},
  'DifferentialReflectivity': { 'fieldName': 'ZDR', 'min': -3, 'max': 9, 'colortable': 4},
  'DifferentialPhase': { 'fieldName': 'PhiDP', 'min': -180, 'max': 180, 'colortable': 6},
  'CrossPolCorrelation': { 'fieldName': 'RhoHV', 'min': 0, 'max': 1, 'colortable': 7},
  'SpecificPhase': { 'fieldName': 'KDP', 'min': -10, 'max': 30, 'colortable': 7},
  'AdjustedReflectivity': { 'fieldName': 'AdBZ', 'min': -30, 'max': 80, 'colortable': 0},
  'AdjustedDifferentialReflectivity': { 'fieldName': 'AZDR', 'min': -3, 'max': 9, 'colortable': 4},
  'CorrectedReflectivity': { 'fieldName': 'CdBZ', 'min': -30, 'max': 80, 'colortable': 0},
  'CorrectedDifferentialReflectivity': { 'fieldName': 'CZDR', 'min': -3, 'max': 9, 'colortable': 4},
  'FilteredVelocity': { 'fieldName': 'VelFilt', 'min': -55, 'max': 55, 'dataWordCoding': 16, 'colortable': 1},
  'VelocityFast': { 'fieldName': 'VelFast', 'min': -55, 'max': 55, 'dataWordCoding': 16, 'colortable': 1},
  'VelocitySlow': { 'fieldName': 'VelSlow', 'min': -55, 'max': 55, 'dataWordCoding': 16, 'colortable': 1},
  'AdptSpecificDifferentialPhase': { 'fieldName': 'ASDP' }
}
